html {
    height: 100%;
}
  
* {
    box-sizing: border-box;
}
  
.bg-image {
    /* The image used */
    background-image: url("homePageHeader.jpg");

    /* Add the blur effect */
    filter: blur(8px);
    opacity: .8;
    -webkit-filter: blur(8px);

    /* Full height */
    height: 50%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Position text in the middle of the page/image */
.title-search {

    color: rgb(255, 255, 255);
    font-weight: bold;

    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

#search-bar-main {
    width: 70%;
    height: 33px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #c2c2c2;
    padding-top:2%;
    padding-bottom :2%;
    font-size: 16pt;
}